body, main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}
main{
  align-self: stretch;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section{
  min-width: 100%;
  max-width: 80em;
  margin: 0 auto;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
textarea{
  margin: 1em;
  min-height: 10em;
  min-width: 30em;
  max-width: 50em;
  flex: 1;
}
.tip{
  max-width: 40em;
}
table{
  border-collapse: collapse;
  margin: 1em;
}
thead{
  font-weight: bold;
}
td{
  border: 1px solid #22222222;
  padding: 0.5em 1em;
  margin: 0.5em 1em;
  min-width: 5em;
  min-height: 3em;
}
td[data-autofilled="true"]{
  background-color: #00dd2211;
}
h2{
  text-align: left;
  font-size: 1.2rem;
  margin-left: 0.7rem;
  margin-bottom: 0;
  align-self: flex-start;
}
footer{
  margin-top: 3em;
}
a{
  transition: all 0.2s ease;
}
a:not(:hover){
  color: #0000ff88;
}
#generate{
  margin-top: 4em;
}
#results{
  text-align: center;
}
#results h2{
  text-align: center;
}

section{
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.tip, #status{
  color: #aaa;
  font-family: monospace;
}
.tip{
  margin-left: 2em;
}

#status{
  margin-top: 1em;
}
#status p{
  line-height: 0.5em;
}

.buttons{
  display: inline-block;
}

/*Small screens*/
@media screen and (max-width: 42em) {
  section{
    flex-direction: column;
  }
  textarea{
    flex: 1;
  }
}

#quantum{
  margin: 1em 0;
  align-self: flex-end;
  opacity: 0.2;
  transition: all 0.5;
}
#quantum:hover{
  opacity: 1;
  animation: shake 0.01s linear infinite;
}

h1.quantum{
  animation: shake 0.01s linear infinite;
}

#quantumWarp{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

video{
  min-height: 100%;
  min-width: 100%;
}

main.quantum{
  background-color: #000000aa;
  color: white;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-1deg);
  }
  75% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.warning-message{
  max-width: 40em;
  border-radius: 5px;
  padding: 0.1rem 0.5em;
  line-height: 1em;
  text-align: left;
  align-self: flex-start;
  margin-left: 0.5em;
}

.warning-message strong{
  color: #930505;
}

/*Small screens*/
@media screen and (max-width: 800px) {
  section{
    flex-direction: column;
  }
  textarea{
    min-width: 95%;
  }
  #quantum{
    display: none;
  }
}
